body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #273549;
    font-family: sans-serif;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.container{
background-color: #ECFDF5;
height: 350px;
max-width: 370px;
margin-left: auto;
margin-right: auto;
text-align: left;
border-radius: 5px;
}

span{
    color: #10B981;
}
h1{
    text-align: left;
    margin-left: 30px;
    padding-top: 50px;
    color: #273549;

}

p{
    color: #6B7280;
    text-align: left;
    margin-left: 30px;
    margin-top: 0;
    
}

.Gen-btn{
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 20px;
    height: 24px;
    /* padding: 8px; */
}

.input-div{
    display: flex;
    justify-content: center;
    margin: 40px;
    align-items: flex-end;
    background-color: #ECFDF5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 338px;
    /* margin-bottom: 0; */
    border-top: 1px solid #dee0e4;

}

#input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:150px;
    height: 24px;
    background-color: #273549;
    border: none;
    border-radius: 3px;
    color: #059669;
   

}

#inputTwo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:150px;
    height: 24px;
    background-color: #273549;
    border: none;
    border-radius: 3px;
    color: #059669;
   

}
.btn-two{
    margin-left: 10px;
}



